<section class="vh-100" style="background-color: burlywood;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h2 class="mb-5">{{"hello" | translate}} {{nombre}}</h2>
            <div class="mb-5">
              <p>
                {{'Code' | translate}}
              </p>
            </div>
            <div class="mb-5">
              <p>
                {{cookie2}}
              </p>
            </div>

            <hr class="my-4">

            <div>
              <label class="form-label mb-4">{{'language' | translate}}</label>
              <span class="form-inline mb-4 rounded">
                <select
                  class="form-control "
                  #langauge
                  (change)="translateSite(langauge.value)"
                >
                  <option
                    *ngFor="let localization of translateService.getLangs()"
                    [value]="localization">
                    {{ localization }}
                  </option>
                </select>
              </span>
              </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>

