.preview-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
}
.preview-card{
  background-color: white;
  transform: scale(0.8);
  width: 700px;
  height: 830px;
  border: 0.1em solid black;
}
.down-pdf{
  width: 200px;
}
.buttons{
  margin: 0 50px
}
#preview{
  width: 600px;
  height: 650px;
  margin: 50px;
}